# Turso Database
TURSO_DATABASE_URL=libsql://vijayravimahal-jagsaam7.aws-ap-south-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODQ1MzAyMjYsImlkIjoiMDE5ZjdlNGEtMTcwMS03MzgzLTkzNWItY2Q4MWQ4YWU2MDQ2Iiwia2lkIjoiTVgwNUM3d2czMllVdVJTblR2dHBtczlrRXRhbXlVRWpZTzZYRl9UMFRSSSIsInJpZCI6ImFmMjhkYTVkLWVmOTItNDc1Ni1iYThiLWUyZDIzODk3NjM1MSJ9.9eKkrgzzYivHq5q7x3rAU8yZIwmplkUYN1nb2FhOTIwtWy_vURfUUHHxPfER-ygvTI7e68I_xftX9GNKCg8RDA

# SMS OTP (Fast2SMS or MSG91)
SMS_API_KEY=G4gnvOpzLucXdC8jtP16liqVx9MKreoDHQhF32bsS0mREN7aIwTeW4J3UF2ZvhQGb8l65tV9j0urmgEA
SMS_SENDER_ID=HALLBK

# Email (SMTP - Gmail App Password recommended)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=youremail@gmail.com
SMTP_PASS=your-app-password
EMAIL_FROM=Sri Mahalakshmi Hall <youremail@gmail.com>

# App
NEXT_PUBLIC_APP_URL=https://your-app.vercel.app
ADMIN_SECRET=your-strong-admin-secret-key

# OTP expiry in seconds
OTP_EXPIRY_SECONDS=300
